/*QUIZ*/
.container-quiz-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
/*LISTS*/
/*Lay out list page*/
.container-box-lay-out {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 5rem;
}
.box-create-list {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.box-add-movies {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.box-edit-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/*Each box in lay out*/
.box {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

/*ListEdit*/
.container-list-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin-top: 5rem;
}
.container-scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.container-scroll::-webkit-scrollbar {
    width: 8px;
}
.container-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
.container-scroll::-webkit-scrollbar-thumb {
    background:var(--deep-black);
    border-radius: 4px;
}

/*MediaQueries*/
@media (max-width: 600px) {
    .box {
        height: auto;
        width: 100%;
        padding: 1rem;
    }
}
@media (max-width: 768px) {
    .container-box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .box-create-list,
    .box-add-movies,
    .box-edit-list {
        grid-column: 1 / -1;
        grid-row: auto;
    }
}