/*LISTS*/
/*ListMovies*/
.grid-scroll-container {
    max-height: 300px;
    width: 450px;
    overflow-y: scroll;
    padding: 12px;
    margin: 5rem;
}
.grid-scroll-container::-webkit-scrollbar {
    width: 8px;
}

.grid-scroll-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
.grid-scroll-container::-webkit-scrollbar-thumb {
    background:var(--deep-black);
    border-radius: 4px;
}
/*movie cards*/
.grid-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 1rem;
}
.grid-movie-card {
    background-color: var(--warm-beige);
    border-radius: 8px;
    padding: 8px;
    gap: 1rem;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    width: 100px;
    height: 80px;
}
.grid-movie-card:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.grid-movie-card.selected {
    background-color: var(--deep-black);
    color: var(--warm-beige);
}
.grid-movie-card h4 {
    white-space: nowrap;
    overflow: hidden;
}
/*styling for checkboxes of movie items*/
input[type="checkbox"] {
    opacity: 0;
}