.header {
    font-size: 16rem;
    letter-spacing: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5);
}


.question {
    flex: 1;
    overflow-y: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

/*only subtitles in question 2 and 3*/
.subtitle {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}
.recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.title-recommendation {
    text-align: center;
    font-size: 8rem;
    font-family: 'bebas neue', cursive;
    color:var(--warm-beige);
}